@media screen and (max-width: 1600px) {
  #container_cont_phone {
    border: 0.04rem solid #4594ff !important;
  }
  .container_cont_yzm {
    border: 0.04rem solid #4594ff !important;
  }
  .OneImg_layer .OneImg_layer_top .OneImg_layer_top_div .inputVal_div {
    width: 2.4rem;
  }
  .OneImg_layer .OneImg_layer_top .OneImg_layer_top_div .inputVal_div #inputVal {
    width: 2.4rem;
    padding: 0 0.15rem;
    border-radius: 0.15rem;
  }
  .OneImg_layer .OneImg_layer_top .OneImg_layer_top_div #inputText {
    margin-left: 0.4rem;
  }
  .OneImg_layer .OneImg_layer_top .OneImg_layer_top_div #OneImg_layer_btn {
    margin-left: 0.2rem;
    margin-top: -0.1rem;
  }
  .layui-form-checkbox span {
    padding: 0rem !important;
    font-size: .2rem !important;
    line-height: .6rem !important;
  }
  .setChatInfo .peopleInfo .peopleInfo_right ul li h1 {
    white-space: nowrap;
  }
  .today_layer .today_layer_top .today_layer_right {
    width: 6rem;
  }
  .today_layer .today_layer_top .today_layer_right input {
    width: 6rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_r .yirenyidang_top_right_div_r_1 ul li .room_history_time_b {
    width: 3.2rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_r .yirenyidang_top_right_div_r_1 ul li .room_history_time_span {
    width: 5rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_r .yirenyidang_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  .yiwuyidang .yiwuyidang_top .yiwuyidang_top_right ul li b {
    width: 2.6rem;
  }
  .yiwuyidang .yiwuyidang_bottom .yiwuyidang_bottom_div .yiwuyidang_bottom_div_ul li dl dd h1 b {
    width: 2.1rem;
  }
  .yiwuyidang .yiwuyidang_bottom .yiwuyidang_bottom_div .yiwuyidang_bottom_div_ul li dl dd h1 span {
    width: 2.3rem;
  }
  .onePeoplePush_photo .onePeoplePush_photo_top h1 span {
    white-space: nowrap;
  }
  .black .black_top .black_top_right .black_top_right_div .black_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .black .black_top .black_top_right .black_top_right_div .black_top_right_div_r .black_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo .name,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo .name {
    width: 3rem;
    margin-right: .4rem;
  }
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo .role,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo .role,
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo .video,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo .video,
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo .picImg,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo .picImg {
    width: 2.2rem;
    height: .5rem;
    line-height: .5rem;
    border: 0.04rem solid #2189ff;
  }
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo .address,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo .address {
    width: 2.6rem;
  }
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo .time,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo .time {
    white-space: nowrap;
    width: 5rem;
  }
  #mapContainer .mapRight .mapRightDIV .person-list li p:nth-of-type(1),
  #mapContainer .mapRight .mapRightDIV .car-list li p:nth-of-type(1) {
    margin-bottom: .3rem;
  }
  #mapContainer .mapRight .mapRightDIV .person-list li .detailInfo p img,
  #mapContainer .mapRight .mapRightDIV .car-list li .detailInfo p img {
    margin-top: 0.06rem;
  }
  .yiwuyidang .yiwuyidang_bottom .yiwuyidang_bottom_div .yiwuyidang_bottom_div_ul li dl dd h1 b {
    height: 0.6rem;
    line-height: 0.6rem;
    margin-top: -0.1rem;
  }
  .DOOR_INFO .DOOR_INFO_top .DOOR_INFO_top_right .DOOR_INFO_top_right_title .DOOR_INFO_top_right_title_h1 b {
    width: 2.6rem;
  }
  .DOOR_INFO .DOOR_INFO_top .DOOR_INFO_top_right .DOOR_INFO_top_right_div ul li b {
    width: 2.6rem;
  }
  .laydate-time-list ol {
    height: 5.5rem !important;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_title .yirenyidang_top_right_title_h1 .yirenyidang_top_right_title_span {
    border: 0.04rem solid #2189ff;
  }
  .guanairenyuan .guanairenyuan_top .guanairenyuan_top_right .guanairenyuan_top_right_div .guanairenyuan_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .guanairenyuan .guanairenyuan_top .guanairenyuan_top_right .guanairenyuan_top_right_div .guanairenyuan_top_right_div_r .guanairenyuan_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  .sos .sos_top .sos_top_right .sos_top_right_div .sos_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .sos .sos_top .sos_top_right .sos_top_right_div .sos_top_right_div_r .sos_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  .qunzufang .qunzufang_top .qunzufang_top_right .qunzufang_top_right_div .qunzufang_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .qunzufang .qunzufang_top .qunzufang_top_right .qunzufang_top_right_div .qunzufang_top_right_div_r .qunzufang_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  .yangan .yangan_top .yangan_top_right .yangan_top_right_div .yangan_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .yangan .yangan_top .yangan_top_right .yangan_top_right_div .yangan_top_right_div_r .yangan_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  .churujishi .churujishi_top .churujishi_top_right .churujishi_top_right_div .churujishi_top_right_div_l ul li b {
    width: 2.6rem;
  }
  .churujishi .churujishi_top .churujishi_top_right .churujishi_top_right_div .churujishi_top_right_div_r .churujishi_top_right_div_r_1 ul li b {
    width: 2.6rem;
  }
  .layui-form-checkbox i {
    border: 0.04rem solid #1149c4 !important;
  }
  .layui-form-checkbox[lay-skin=primary] i {
    border: 0.04rem solid #1149c4 !important;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_l ul li span {
    width: 7.4rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_title .yirenyidang_top_right_title_ul .yirenyidang_top_right_title_ul_li {
    width: 4.4rem;
  }
  .louceng_layer .louceng_layer_top .louceng_layer_top_right ul li {
    margin-left: 0.3rem;
  }
  .louceng_layer .louceng_layer_top .louceng_layer_top_left {
    white-space: nowrap;
  }
}
@media screen and (max-width: 1300px) {
  .containerDIV header .swiper-slide_Img .header-right .time {
    width: 8rem;
  }
  .containerDIV main .swiper-slide .indexRight .peopleNum ul li dd {
    font-size: .3rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_l ul li b {
    width: 3rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_l ul li span {
    width: 7rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_r .yirenyidang_top_right_div_r_1 ul li b {
    width: 3rem;
  }
  .yirenyidang .yirenyidang_top .yirenyidang_top_right .yirenyidang_top_right_div .yirenyidang_top_right_div_r .yirenyidang_top_right_div_r_1 ul li span {
    width: 5rem;
  }
  .yiwuyidang .yiwuyidang_top .yiwuyidang_top_right ul li b {
    width: 3rem;
  }
  .yiwuyidang .yiwuyidang_bottom .yiwuyidang_bottom_div .yiwuyidang_bottom_div_ul li dl dd h1 b {
    width: 2.4rem;
  }
  .yiwuyidang .yiwuyidang_bottom .yiwuyidang_bottom_div .yiwuyidang_bottom_div_ul li dl dd h1 span {
    width: 2.2rem;
  }
  .black .black_top .black_top_right .black_top_right_div .black_top_right_div_l ul li b {
    width: 3rem;
  }
  .black .black_top .black_top_right .black_top_right_div .black_top_right_div_r .black_top_right_div_r_1 ul li b {
    width: 3rem;
  }
  .guanairenyuan .guanairenyuan_top .guanairenyuan_top_right .guanairenyuan_top_right_div .guanairenyuan_top_right_div_l ul li b {
    width: 3rem;
  }
  .guanairenyuan .guanairenyuan_top .guanairenyuan_top_right .guanairenyuan_top_right_div .guanairenyuan_top_right_div_r .guanairenyuan_top_right_div_r_1 ul li b {
    width: 3rem;
  }
  .sos .sos_top .sos_top_right .sos_top_right_div .sos_top_right_div_l ul li b {
    width: 3rem;
  }
  .sos .sos_top .sos_top_right .sos_top_right_div .sos_top_right_div_r .sos_top_right_div_r_1 ul li b {
    width: 3rem;
  }
  .qunzufang .qunzufang_top .qunzufang_top_right .qunzufang_top_right_div .qunzufang_top_right_div_l ul li b {
    width: 3rem;
  }
  .qunzufang .qunzufang_top .qunzufang_top_right .qunzufang_top_right_div .qunzufang_top_right_div_r .qunzufang_top_right_div_r_1 ul li b {
    width: 3rem;
  }
  .yangan .yangan_top .yangan_top_right .yangan_top_right_div .yangan_top_right_div_l ul li b {
    width: 3rem;
  }
  .yangan .yangan_top .yangan_top_right .yangan_top_right_div .yangan_top_right_div_r .yangan_top_right_div_r_1 ul li b {
    width: 3rem;
  }
  .DOOR_INFO .DOOR_INFO_top .DOOR_INFO_top_right .DOOR_INFO_top_right_title .DOOR_INFO_top_right_title_h1 b {
    width: 3rem;
  }
  .DOOR_INFO .DOOR_INFO_top .DOOR_INFO_top_right .DOOR_INFO_top_right_div ul li b {
    width: 3rem;
  }
  .churujishi .churujishi_top .churujishi_top_right .churujishi_top_right_div .churujishi_top_right_div_l ul li b {
    width: 3rem;
  }
  .churujishi .churujishi_top .churujishi_top_right .churujishi_top_right_div .churujishi_top_right_div_r .churujishi_top_right_div_r_1 ul li b {
    width: 3rem;
  }
}
